<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="M6_sleeve">
  <link
    name="M6_sleeve_base_link">
    <inertial>
      <origin
        xyz="-0.0011603 -1.1059E-17 1.8063E-16"
        rpy="0 0 0" />
      <mass
        value="0.010651" />
      <inertia
        ixx="8.1338E-07"
        ixy="2.9592E-21"
        ixz="-4.8249E-20"
        iyy="3.3923E-06"
        iyz="1.2184E-38"
        izz="3.3923E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://M6_sleeve/meshes/M6_sleeve_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://M6_sleeve/meshes/M6_sleeve_base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>