<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="M10_bolt">
  <link
    name="M10_bolt_base_link">
    <inertial>
      <origin
        xyz="6.93889390390723E-18 6.93889390390723E-18 -1.09287578986539E-16"
        rpy="0 0 0" />
      <mass
        value="0.00318400891749442" />
      <inertia
        ixx="3.396368950263E-07"
        ixy="-9.16209760004126E-12"
        ixz="1.11626490079105E-12"
        iyy="3.3963494653609E-07"
        iyz="-1.52086242243008E-10"
        izz="5.45645313298774E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://M10_bolt/meshes/M10_bolt_base_link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://M10_bolt/meshes/M10_bolt_base_link.dae" />
      </geometry>
    </collision>
  </link>
</robot>