



<launch>


 <include file="$(find ur10e_moveit_config)/launch/ur10e_moveit_planning_execution.launch">
    </include>



  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find ur10e_moveit_config)/launch/moveit_rviz.launch"   >
        <!-- <arg name="rviz_config" value="true"/> -->
  </include>


  </launch> 
