<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="M10_sleeve">
  <link
    name="M10_sleeve_base_link">
    <inertial>
      <origin
        xyz="-0.00036727 2.0383E-17 -3.5432E-16"
        rpy="0 0 0" />
      <mass
        value="0.010807" />
      <inertia
        ixx="9.0447E-07"
        ixy="-5.476E-21"
        ixz="9.2286E-20"
        iyy="3.7372E-06"
        iyz="2.1176E-22"
        izz="3.7372E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://M10_sleeve/meshes/M10_sleeve_base_link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://M10_sleeve/meshes/M10_sleeve_base_link.dae" />
      </geometry>
    </collision>
  </link>
</robot>