<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="battery_pack_s">
  <link
    name="battery_pack_base_link">
    <inertial>
      <origin
        xyz="-0.95 0 -0.0999999999999996"
        rpy="0 0 0" />
      <mass
        value="552" />
      <inertia
        ixx="68.0799999999999"
        ixy="-7.84187529726902E-15"
        ixz="-1.07543603652023E-15"
        iyy="245.18"
        iyz="1.32995466491554E-16"
        izz="309.58" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/battery_pack_base_link.STL" />
      </geometry>
      <material
        name="battery">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/battery_pack_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="M6_gasket_1_link">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 1.11022302462516E-16 -0.00800000000000001"
        rpy="0 0 0" />
      <mass
        value="8.82772243861937E-05" />
      <inertia
        ixx="1.24959661693432E-09"
        ixy="-2.58493941422821E-26"
        ixz="4.83088124368438E-41"
        iyy="1.24959661693432E-09"
        iyz="-1.13453683705874E-40"
        izz="2.48456062424061E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/M6_gasket_1_link.STL" />
      </geometry>
      <material
        name="bolt">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/M6_gasket_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="M6_gasket_1_joint"
    type="fixed">
    <origin
      xyz="-0.5215 -0.404 0.0525"
      rpy="3.1416 0 -2.7485" />
    <parent
      link="battery_pack_base_link" />
    <child
      link="M6_gasket_1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="M6_gasket_2_link">
    <inertial>
      <origin
        xyz="0 0 -0.00800000000000001"
        rpy="0 0 0" />
      <mass
        value="8.82772243861937E-05" />
      <inertia
        ixx="1.24959661693432E-09"
        ixy="-1.29246970711411E-25"
        ixz="1.50034156156908E-42"
        iyy="1.24959661693432E-09"
        iyz="6.8771134273246E-43"
        izz="2.48456062424061E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/M6_gasket_2_link.STL" />
      </geometry>
      <material
        name="bolt">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/M6_gasket_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="M6_gasket_2_joint"
    type="fixed">
    <origin
      xyz="-0.5215 -0.304 0.0525"
      rpy="3.1416 0 -2.7485" />
    <parent
      link="battery_pack_base_link" />
    <child
      link="M6_gasket_2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="M8_gasket_1_link">
    <inertial>
      <origin
        xyz="0 0 -0.00800000000000001"
        rpy="0 0 0" />
      <mass
        value="0.00010550204865667" />
      <inertia
        ixx="2.08686937076162E-09"
        ixy="5.16987882845642E-26"
        ixz="1.7437435717737E-42"
        iyy="2.08686937076162E-09"
        iyz="2.84281637081175E-43"
        izz="4.15625098855316E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/M8_gasket_1_link.STL" />
      </geometry>
      <material
        name="bolt">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/M8_gasket_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="M8_gasket_1_joint"
    type="fixed">
    <origin
      xyz="-0.521499999999999 -0.104 0.0525"
      rpy="3.14159265358979 0 -2.74849784316327" />
    <parent
      link="battery_pack_base_link" />
    <child
      link="M8_gasket_1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="M8_gasket_2_link">
    <inertial>
      <origin
        xyz="0 0 -0.00800000000000001"
        rpy="0 0 0" />
      <mass
        value="0.00010550204865667" />
      <inertia
        ixx="2.08686937076162E-09"
        ixy="5.16987882845642E-26"
        ixz="1.7437435717737E-42"
        iyy="2.08686937076162E-09"
        iyz="2.84281637081175E-43"
        izz="4.15625098855316E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/M8_gasket_2_link.STL" />
      </geometry>
      <material
        name="bolt">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/M8_gasket_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="M8_gasket_2_joint"
    type="fixed">
    <origin
      xyz="-0.5215 -0.004 0.0525"
      rpy="3.1416 0 -2.7485" />
    <parent
      link="battery_pack_base_link" />
    <child
      link="M8_gasket_2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="M10_gasket_1_link">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 0 -0.00799999999999979"
        rpy="0 0 0" />
      <mass
        value="0.000122726872927147" />
      <inertia
        ixx="3.24064827055894E-09"
        ixy="2.06795153138257E-25"
        ixz="1.94303917704591E-42"
        iyy="3.24064827055894E-09"
        iyz="8.05734168711336E-43"
        izz="6.46095364480573E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/M10_gasket_1_link.STL" />
      </geometry>
      <material
        name="bolt">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/M10_gasket_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="M10_gasket_1_joint"
    type="fixed">
    <origin
      xyz="-0.521499999999999 0.196 0.0525"
      rpy="3.14159265358979 0 -2.74849784316327" />
    <parent
      link="battery_pack_base_link" />
    <child
      link="M10_gasket_1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="M10_gasket_2_link">
    <inertial>
      <origin
        xyz="0 0 -0.00799999999999979"
        rpy="0 0 0" />
      <mass
        value="0.000122726872927147" />
      <inertia
        ixx="3.24064827055894E-09"
        ixy="3.10192729707385E-25"
        ixz="3.07565550259243E-42"
        iyy="3.24064827055894E-09"
        iyz="1.27540440712647E-42"
        izz="6.46095364480573E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/M10_gasket_2_link.STL" />
      </geometry>
      <material
        name="bolt">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/M10_gasket_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="M10_gasket_2_joint"
    type="fixed">
    <origin
      xyz="-0.521499999999999 0.296 0.0525"
      rpy="3.14159265358979 0 -2.74849784316327" />
    <parent
      link="battery_pack_base_link" />
    <child
      link="M10_gasket_2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="battery_link">
    <inertial>
      <origin
        xyz="-0.816333474361604 0.499997947046124 2.47851218948547E-05"
        rpy="0 0 0" />
      <mass
        value="125.346813004086" />
      <inertia
        ixx="10.5087366834248"
        ixy="0.000205562435854341"
        ixz="-0.00247963879973789"
        iyy="25.7236140097765"
        iyz="4.50046249140293E-06"
        izz="36.0987872973689" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/battery_link.STL" />
      </geometry>
      <material
        name="platform">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/battery_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="battery_joint"
    type="fixed">
    <origin
      xyz="-0.504 -0.504 0.04"
      rpy="0 0 0" />
    <parent
      link="battery_pack_base_link" />
    <child
      link="battery_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sleeve_plate_link">
    <inertial>
      <origin
        xyz="0.00113097715919352 -3.3682133098914E-05 -0.0349023059379383"
        rpy="0 0 0" />
      <mass
        value="0.511536238561189" />
      <inertia
        ixx="0.000603156714858973"
        ixy="-5.3851411491421E-06"
        ixz="-2.31790936572696E-06"
        iyy="0.000600786005457109"
        iyz="2.44570964889537E-07"
        izz="0.000838401878607603" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/sleeve_plate_link.STL" />
      </geometry>
      <material
        name="battery">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://battery_pack_s/meshes/sleeve_plate_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sleeve_plate_joint"
    type="fixed">
    <origin
      xyz="0 0.45 0.065"
      rpy="0 0 0" />
    <parent
      link="battery_pack_base_link" />
    <child
      link="sleeve_plate_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>