<?xml version="1.0"?>
<robot name="rokae" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--Used to attach gripper to the UR5 robot -->
  <xacro:include filename="$(find rokae_desk)/urdf/rokae_robot.xacro" />
  <!-- <xacro:include filename="$(find rokae_desk)/urdf/taotong_hed.xacro" /> -->
  <xacro:include filename="$(find cai_env)/urdf/table.urdf.xacro" />
  <xacro:include filename="$(find rokae_desk)/urdf/battery_pack.urdf" />



  <joint name="table_ur5_joint" type="fixed">
    <origin xyz="-0.55 0 0.12" rpy="0 0 0" />
    <parent link="table"/>
    <child link="rokae_base"/>
  </joint>

  <joint name="battery_pack_joint" type="fixed">
    <origin xyz="0 0 0.12" rpy="0 0 3.14" />
    <parent link="table"/>
    <child link="battery_pack_link"/>
  </joint>

  <!-- <joint name="taotong_joint" type="continuous">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="rokae_link7"/>
    <child link="taotong_link8"/>
  </joint>
   -->
</robot>
