<launch>
  <!-- <param name="battery_pack_description" command="$(find xacro)/xacro $(find ur_description)/urdf/ur10e.xacro" /> -->
  <!-- <param name="battery_pack_description" textfile="$(find battery_pack)/urdf/battery_pack.urdf" />
  <param name="M6_sleeve_description" textfile="$(find M6_sleeve)/urdf/M6_sleeve.urdf" />
  <param name="M8_sleeve_description" textfile="$(find M8_sleeve)/urdf/M8_sleeve.urdf" />
  <param name="M10_sleeve_description" textfile="$(find M10_sleeve)/urdf/M10_sleeve.urdf" /> -->

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_ros_link_attacher)/worlds/test_attacher.world"/>
    <arg name="paused" value="false"/>
    <!-- more default parameters can be changed here -->
  </include>
  <!-- <node pkg="gazebo_ros" type="spawn_model" name="battery_pack" args="-urdf -model battery_pack -param battery_pack_description"  /> 
  <node pkg="gazebo_ros" type="spawn_model" name="M6_sleeve" args="-urdf -model M6_sleeve -param M6_sleeve_description"  />
  <node pkg="gazebo_ros" type="spawn_model" name="M8_sleeve" args="-urdf -model M8_sleeve -param M8_sleeve_description"  />
  <node pkg="gazebo_ros" type="spawn_model" name="M10_sleeve" args="-urdf -model M10_sleeve -param M10_sleeve_description"  /> -->



</launch>
