<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="endeffector">
  <link
    name="endeffector_base_link">
    <inertial>
      <origin
        xyz="-0.0091552 -0.0017971 0.10907"
        rpy="0 0 0" />
      <mass
        value="0.6995" />
      <inertia
        ixx="0.00093618"
        ixy="-1.2386E-06"
        ixz="-2.4247E-05"
        iyy="0.0018881"
        iyz="9.7308E-06"
        izz="0.0012009" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://endeffector/meshes/endeffector_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://endeffector/meshes/endeffector_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="camera_Link">
    <inertial>
      <origin
        xyz="-0.013488 -7.0938E-05 -0.013332"
        rpy="0 0 0" />
      <mass
        value="0.071592" />
      <inertia
        ixx="2.0232E-05"
        ixy="-4.6475E-08"
        ixz="-5.1114E-10"
        iyy="1.9381E-05"
        iyz="4.5469E-09"
        izz="3.1685E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://endeffector/meshes/camera_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://endeffector/meshes/camera_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_Joint"
    type="fixed">
    <origin
      xyz="0.18055 -0.00029745 0.071047"
      rpy="0.00018844 -0.10472 0" />
    <parent
      link="endeffector_base_link" />
    <child
      link="camera_Link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <joint name="tool0-endeffector_base_link" type="fixed">
        <!-- default toolframe: X+ left, Y+ up, Z+ front -->
        <origin xyz="0 0 0.002" rpy="0 0 ${pi/1.0}"/>
        <parent link="tool0"/>
        <child link="endeffector_base_link"/>
      </joint>
</robot>