

<?xml version="1.0"?>
<robot name="my_arm_scene" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
<!--   
  <link name="base_link" />
  <xacro:sensor_d435 name="camera" topics_ns="camera" parent="base_link" publish_pointcloud="true">
    <origin xyz="0.5 0.5 1" rpy="0 1.57 0"/>
  </xacro:sensor_d435>   -->

    <xacro:include filename="$(find rokae_description)/urdf/battery_pack.xacro"   />


</robot>