

<launch>
  <param name="robot_description"    command="$(find xacro)/xacro   --inorder '$(find rokae_desk)/urdf/robot_tool_complex.xacro'" />

   <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    <param name="use_gui" value="TRUE"/>
  </node> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find  rokae_desk  )/launch/robot.rviz"/>

</launch>