<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e_robot">

  <xacro:include filename="$(find ur_description)/urdf/inc/ur10e_macro.xacro"/>
  <xacro:ur10e_robot prefix="" />
  <xacro:include filename="$(find end_effector)/urdf/end_effector.urdf" />

  <joint name="ur_socket_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0  -1.57   0  " />
    <parent link="tool0"/>
    <child link="pneumatic_base_link"/>
  </joint>

</robot>
