<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="hexagon_sleeve">
  <link
    name="hexagon_sleeve_base_link">
    <inertial>
      <origin
        xyz="0 -1.3878E-17 0"
        rpy="0 0 0" />
      <mass
        value="0.011735" />
      <inertia
        ixx="7.5362E-07"
        ixy="3.6954E-13"
        ixz="1.3504E-13"
        iyy="1.4944E-06"
        iyz="-1.8927E-13"
        izz="1.4944E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexagon_sleeve/meshes/hexagon_sleeve_base_link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.9451 1 0.15294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexagon_sleeve/meshes/hexagon_sleeve_base_link.dae" />
      </geometry>
    </collision>
  </link>
</robot>