<launch>
  <param name="robot_description" command="$(find xacro)/xacro   --inorder '$(find ur_socket_describe)/urdf/ur_socket_complex.xacro'" />

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <param name="use_gui" value="TRUE"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find  ur_socket_describe)/config/rviz.rviz"/>

</launch>


