<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="M6_bolt">
  <link
    name="M6_bolt_base_link">
    <inertial>
      <origin
        xyz="1.73472347597681E-18 1.30104260698261E-18 1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="0.00132116703228283" />
      <inertia
        ixx="1.39039501814154E-07"
        ixy="-1.11409296172805E-12"
        ixz="-1.2492786950186E-12"
        iyy="1.39038231801591E-07"
        iyz="-5.78342989340864E-11"
        izz="1.0587031274274E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://M6_bolt/meshes/M6_bolt_base_link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://M6_bolt/meshes/M6_bolt_base_link.dae" />
      </geometry>
    </collision>
  </link>
</robot>