*.npy
**/*.pyc
.idea
build/ 
devel/
train/
images/*.jpg
!images/1.jpg
src/CMakeLists.txt
.vscode/
*.zip
.catkin_workspace
*.pth
*.png
*.txt

src/test/tensorflow_vgg_classify/rokae_image/
tmp/
align_images/
v_false_align/
temp/
git
libbz2-dev
libncursesw5-dev
