<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <link name="world_base" />
  <link name="base_link" />

    <joint name="world_to_base_link" type="fixed">
        <parent link="world_base"/>
        <child link="base_link"/>
    </joint>

  <xacro:sensor_d435 name="camera" topics_ns="camera" parent="base_link" publish_pointcloud="true">
    <!-- <origin xyz="0.25 0 1.75" rpy="0 1.57 0"/> -->
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>  
</robot>